<%- include('header') %>
<div class="result">
    <% if(error) { %>
        <%= error %>
    <% } else { %>
        <%= quantidade %> dolares na cotacao <%= cotacao %> é igual a: <%= conversao %> reais
   <% } %>
    
</div>
<%- include('footer') %>